/* @group tags */

h1, .h1 {
	font-size: 16pt;
	font-weight: bold;
	padding-bottom: 1em;
}

h2, .h2 {
	font-size: 15pt;
	padding-bottom: 1em;
}

h3, .h3 {
  font-size: 13pt;
  font-weight: bold;
  margin-top: 0;
}

h4, .h4 {
	font-size: 12pt;
	padding-bottom: 1em;
}

body {
	line-height: 1.6em;
	text-align: left;
}

a,
p,
label {
	font-size: 12pt;
	text-decoration: none;
}

/* @end */

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after,
.container_16:before,
.container_16:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after,
.container_16:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container_12,
.container_16 {
  zoom: 1;
}

/* @end */

/* @group misc */

.dnone {
	display: none;
}

.vhddn {
	visibility: hidden;
}

div.spacer {
	clear: both;
	height: 0.5em;
	width: 100%;
}

/* @end */

/* @group toggles */

.expanded {
  overflow: hidden !important;
}

a.expanded var.collapsed,
a:not([class~=expanded]) var.expanded {
  display: none;
}

/* @end */