@import 'mixins';

.l_subheader {
  border-bottom: 1px solid #CCC;
  color: black;
  font-size: 150%;;
}

h3, .h3 {
  font-size: 140%;
  font-weight: bold;
}

h4, .h4 {
  font-size: 125%;
}

h5, .h5 {
  font-size: 110%;
  margin: 1em 0;
}

h6, .h6 {
  color: #666;
  font-size: 100%;
  margin: 1em 0;
}

.is-no-display,
.dnone {
  display: none;
}

.is-overflow-hidden {
  overflow: hidden;
}

.is-state-a var.is-state-b,
.is-state-b var.is-state-a {
  display: none;
}

.padding-1em {
  padding: 1em;
}

.block {
  display: block;
}

.small {
  font-size: 75%;
}

.strong {
  font-weight: bold;
}

.em {
  font-style: italic;
}

code {
  @include border-radius(3px);
  background-color: #F8F8F8;
  border: 1px solid #EAEAEA;
  margin: 0 2px;
  padding: 0px 5px;
  white-space: nowrap;
}

body {
  font-size: 14px;
}

html,
button,
input,
select,
textarea {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}

.todo {
  color: blue;

  &:before {
    content: "Todo: ";
    color: blue;
  }
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after,
.container_16:before,
.container_16:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after,
.container_16:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container_12,
.container_16 {
  zoom: 1;
}