/* @group layout */

form dl, .form dl {

}

form dt, .form dt {
	padding: 0.25em 0;
}

form dd, .form dd {
	padding-bottom: 1em;
}

form label, form .label, .form label, .form .label {
	color: #333;
	cursor: pointer;
	font-weight: bold;
}

/* @end */

/* @group fields */

.error input,
.error select,
.error textarea  {
    border-color: #FFCC00 !important;
    box-shadow: 3px 3px 1px #888888;
}

textarea,
.text,
input {
    border: 1px solid #444444;
    box-shadow: 1px 1px 1px #888888;
    font-family: Verdana,Tahoma,Arial,sans-serif;
    font-size: 10pt;
    line-height: normal;
    padding: 0.2em;
}

input:focus,
input:hover {
    -webkit-box-shadow: 0 0 0.5em #69c;
    -moz-box-shadow: 0 0 0.5em #69c;
    box-shadow: 0 0 0.5em #69c;
}

input[type~="radio"], .chk {
    border: 0 none;
}

/* @end */

/* @group errors */

.errorlist li {
	background-color: #FFFF80;
    border: 1px solid #900;
	font-size: 11pt;
    margin: 0.5em 0;
    padding: 0.5em 1em;

    -webkit-box-shadow: 0 0 0.5em #efefef;
    -moz-box-shadow: 0 0 0.5em #efefef;
    box-shadow: 0 0 0.5em #efefef;
}

/* @end */

/* @group buttons */

.buttons {
	text-align: right;
}

.button {
	background-color: #F0F0F0;
    display:inline-block;

    margin: 1.5em 1em 0.5em 0;
    border: 1px solid #e8e8e8;
    border-radius: 0.5em;

    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-box-shadow: 0 0 0.5em #efefef;
    -moz-box-shadow: 0 0 0.5em #efefef;
    box-shadow: 0 0 0.5em #efefef;
    padding: 0.25em 1em;
    text-decoration:none;
}

.button span {
	font-size: 11pt;
}

.button-large {
    padding: 2em 1em 1em;
}

.button:hover{
    -webkit-box-shadow: 0 0 0.5em #69c;
    -moz-box-shadow: 0 0 0.5em #69c;
    box-shadow: 0 0 0.5em #69c;
}

/* @end */