{% if settings.GOOGLE_ANALYTICS_CODE %}
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_CODE }}']);

    {% if settings.GOOGLE_ANALYTICS_DOMAIN %}
        _gaq.push(['_setDomainName', '{{ settings.GOOGLE_ANALYTICS_DOMAIN }}']);
    {% endif %}

    {% if settings.GOOGLE_ANALYTICS_SITE_SPEED_SAMPLE_RATE %}
        {% comment %}
        Google automatically samples 1% of your data for performance, but can handle 10,000 records a day.
        Small sites should increase this value. It can be an integer between 0 and 100;
        {% endcomment %}
        _gaq.push(['_setSiteSpeedSampleRate', '{{ settings.GOOGLE_ANALYTICS_SITE_SPEED_SAMPLE_RATE }}']);
    {% endif %}

    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
{% endif %}